# Build outputs
/dist
/build
.medusa
.cache

# Environment & system artifacts
.env
.DS_Store
medusa-db.sql
coverage
yarn-error.log
.idea
./tsconfig.tsbuildinfo

# File uploads
/uploads

# Dependencies
/node_modules
/package-lock.json

# Yarn berry directories (ignore all except required dirs)
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Keep source files
!src/**
